
<div class = "container">
	<div class = "row">
		<div class = "col-sm-offset-4 col-sm-4">

			<div class="panel panel-primary">
		  		<div class="panel-heading">
		  		    <h3 class = "panel-title">New Tweet</h3>
				</div>

			<%= form_for @twee, url: tweets_path, method: :post, class:'form-horizontal' do |f| %>
				<div class="panel-body">
					<div class="form-group row"> 
						<%= f.label :post, class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :post, class: "form-control" %> 
						</div>
					</div>

				</div>
				<div class="panel-footer">	
					<div class="form-group row">
						<div class="col-sm-offset-2 col-sm-10">
							<%= f.submit "Create", class: "btn btn-default" %>
							<%= link_to 'Back', tweets_path, class: "btn btn-info" %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>


